@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body {
  width: 100%;
  min-width: 1280px;
  height: auto;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  position: relative;
  background: #453018;
}
html body header {
  width: 100%;
  height: 120px;
}
html body header article {
  width: 1280px;
  height: 120px;
  margin: auto;
}
html body header article .header-1 {
  width: 100%;
  height: 55px;
}
html body header article .header-1 .header-top-bg {
  width: 735px;
  height: 55px;
  background: url(../img/header-1.png);
  float: right;
  background-size: 100%;
  background-repeat: no-repeat;
}
html body header article .header-1 .header-top-bg .text-picture {
  width: 16px;
  height: 16px;
  background: url(../img/account.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 7px 0 0 16px;
}
html body header article .header-1 .header-top-bg .password-picture {
  width: 16px;
  height: 16px;
  background: url(../img/password.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 6px 0 0 188px;
}
html body header article .header-1 .header-top-bg .input-box {
  width: 695px;
  height: 35px;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 12%;
}
html body header article .header-1 .header-top-bg .input-box input {
  width: 132px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #fff5af;
  outline: none;
  padding-left: 30px;
  margin-left: 6px;
}
html body header article .header-1 .header-top-bg .input-box input::-webkit-input-placeholder {
  color: #382105;
  font-size: 14px;
  font-weight: bold;
}
html body header article .header-1 .header-top-bg .input-box button {
  width: 62px;
  height: 27px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffddff), color-stop(30%, #f717ff), color-stop(55%, #a000ce), color-stop(85%, #a000ce), to(#ffd6fc));
  background: linear-gradient(to bottom, #ffddff 0%, #f717ff 30%, #a000ce 55%, #a000ce 85%, #ffd6fc 100%);
  border-radius: 14px;
  border: 1px solid #dc3aff;
  color: #fff;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  margin-left: 6px;
}
html body header article .header-1 .header-top-bg .input-box button:hover, html body header article .header-1 .header-top-bg .input-box button:active, html body header article .header-1 .header-top-bg .input-box button.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e5ffe2), color-stop(5%, #9aff48), color-stop(30%, #3cd500), color-stop(88%, #0f8100), to(#f9ffdb));
  background: linear-gradient(to bottom, #e5ffe2 0%, #9aff48 5%, #3cd500 30%, #0f8100 88%, #f9ffdb 100%);
  border: 1px solid #d8ff94;
}
html body header article .header-1 .header-top-bg .input-box .forget {
  width: 104px;
  height: 39px;
  margin-left: 6px;
  background: url(../img/forget-button.png) no-repeat;
  background-size: 100%;
  margin-top: -5px;
}
html body header article .header-1 .header-top-bg .input-box .forget a {
  text-decoration: none;
  line-height: 39px;
  padding-left: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #382105;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select {
  width: 104px;
  height: 39px;
  background: url(../img/forget-button.png) no-repeat;
  background-size: 100%;
  margin-top: -5px;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select .select-icon {
  width: 11px;
  height: 7px;
  background: url(../img/下拉.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 16px 0 0 77px;
  pointer-events: none;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding-left: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #382105;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 39px;
  cursor: pointer;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select select option {
  background: #ffed8a;
}
html body header article .header-2 {
  width: 100%;
  height: 65px;
}
html body header article .header-2 .logobox {
  width: 150px;
  height: 65px;
  float: left;
}
html body header article .header-2 .logobox .logo {
  width: 136px;
  height: 42px;
  margin: auto;
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
html body header article .header-2 ul {
  width: 1090px;
  height: 65px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
html body header article .header-2 ul li {
  width: 100%;
  height: 47px;
  text-align: center;
  line-height: 67px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 7px;
}
html body header article .header-2 ul li:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 33%;
  right: auto;
  left: 35%;
  bottom: 0;
  height: 1px;
  background: #fff6b6;
}
html body header article .header-2 ul li:hover:after, html body header article .header-2 ul li:active:after, html body header article .header-2 ul li.active:after {
  width: 100%;
  right: 100%;
  left: 0;
}
html body header article .header-2 ul li a {
  font-size: 20px;
  color: #fff6b6;
  font-weight: bold;
  text-decoration: none;
}
html body main {
  width: 100%;
  height: auto;
}
html body main .banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #000;
}
html body main .banner .swiper-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
html body main .banner .swiper-slide {
  width: 100%;
  padding-bottom: 21%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
html body main .banner .swiper-slide.img-1 {
  background: url(../img/banner.png) no-repeat center;
  background-size: 100%;
}
html body main .banner .swiper-slide.img-2 {
  background: url(../img/banner.png) no-repeat center;
  background-size: 100%;
}
html body main .banner .swiper-slide.img-3 {
  background: url(../img/banner.png) no-repeat center;
  background-size: 100%;
}
html body main .banner .swiper-pagination {
  bottom: 34px;
  position: relative;
}
html body main .banner .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #362612;
  border: 2px solid #fff4c0;
  opacity: unset;
  outline: none;
}
html body main .banner .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff9d2;
}
html body main article {
  width: 1280px;
  height: auto;
  margin: auto;
}
html body main article .news {
  width: 1100px;
  height: 35px;
  margin: auto;
  margin-top: -12px;
}
html body main article .news .news-icon {
  width: 45px;
  height: 35px;
  float: left;
  background: url(../img/news-icon.png) no-repeat;
  background-size: contain;
}
html body main article .news .news-box {
  width: 1050px;
  height: 33px;
  background: #000000b8;
  border-radius: 5px;
  border: 1px solid #fff6b6;
  float: right;
}
html body main article .news .news-box marquee {
  width: 1035px;
  color: #fff6b6;
  line-height: 35px;
  float: right;
}
html body main article .main-box {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background: rosybrown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
html body main article .main-box .main-btn {
  width: 223px;
  height: 517px;
  background: url(../img/main-btn.png) no-repeat;
  background-size: 100%;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg.png) top center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -999;
}