@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body {
  width: 100%;
  min-width: 1280px;
  height: auto;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  position: relative;
  background: #453018;
}
html body .register {
  width: 100%;
  height: 1080px;
  background: #000;
}
html body header {
  width: 100%;
  height: 120px;
}
html body header article {
  width: 1280px;
  height: 120px;
  margin: auto;
}
html body header article .header-1 {
  width: 100%;
  height: 55px;
}
html body header article .header-1 .header-top-bg {
  width: 735px;
  height: 55px;
  background: url(../img/header-1.png);
  float: right;
  background-size: 100%;
  background-repeat: no-repeat;
}
html body header article .header-1 .header-top-bg .text-picture {
  width: 16px;
  height: 16px;
  background: url(../img/account.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 7px 0 0 16px;
}
html body header article .header-1 .header-top-bg .password-picture {
  width: 16px;
  height: 16px;
  background: url(../img/password.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 6px 0 0 188px;
}
html body header article .header-1 .header-top-bg .input-box {
  width: 695px;
  height: 35px;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 12%;
}
html body header article .header-1 .header-top-bg .input-box input {
  width: 132px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #fff5af;
  outline: none;
  padding-left: 30px;
  margin-left: 6px;
}
html body header article .header-1 .header-top-bg .input-box input::-webkit-input-placeholder {
  color: #382105;
  font-size: 14px;
  font-weight: bold;
}
html body header article .header-1 .header-top-bg .input-box button {
  width: 62px;
  height: 27px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffddff), color-stop(30%, #f717ff), color-stop(55%, #a000ce), color-stop(85%, #a000ce), to(#ffd6fc));
  background: linear-gradient(to bottom, #ffddff 0%, #f717ff 30%, #a000ce 55%, #a000ce 85%, #ffd6fc 100%);
  border-radius: 14px;
  border: 1px solid #dc3aff;
  color: #fff;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  margin-left: 6px;
}
html body header article .header-1 .header-top-bg .input-box button:hover, html body header article .header-1 .header-top-bg .input-box button:active, html body header article .header-1 .header-top-bg .input-box button.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e5ffe2), color-stop(5%, #9aff48), color-stop(30%, #3cd500), color-stop(88%, #0f8100), to(#f9ffdb));
  background: linear-gradient(to bottom, #e5ffe2 0%, #9aff48 5%, #3cd500 30%, #0f8100 88%, #f9ffdb 100%);
  border: 1px solid #d8ff94;
}
html body header article .header-1 .header-top-bg .input-box .forget {
  width: 104px;
  height: 39px;
  margin-left: 6px;
  background: url(../img/forget-button.png) no-repeat;
  background-size: 100%;
  margin-top: -5px;
}
html body header article .header-1 .header-top-bg .input-box .forget a {
  text-decoration: none;
  line-height: 39px;
  padding-left: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #382105;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select {
  width: 104px;
  height: 39px;
  background: url(../img/forget-button.png) no-repeat;
  background-size: 100%;
  margin-top: -5px;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select .select-icon {
  width: 11px;
  height: 7px;
  background: url(../img/下拉.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 16px 0 0 77px;
  pointer-events: none;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding-left: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #382105;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 39px;
  cursor: pointer;
}
html body header article .header-1 .header-top-bg .input-box .chinese-select select option {
  background: #ffed8a;
}
html body header article .header-2 {
  width: 100%;
  height: 65px;
}
html body header article .header-2 .logobox {
  width: 150px;
  height: 65px;
  float: left;
}
html body header article .header-2 .logobox .logo {
  width: 136px;
  height: 42px;
  margin: auto;
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
html body header article .header-2 ul {
  width: 1090px;
  height: 65px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
html body header article .header-2 ul li {
  width: 100%;
  height: 47px;
  text-align: center;
  line-height: 67px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 7px;
}
html body header article .header-2 ul li:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 33%;
  right: auto;
  left: 35%;
  bottom: 0;
  height: 1px;
  background: #fff6b6;
}
html body header article .header-2 ul li:hover:after, html body header article .header-2 ul li:active:after, html body header article .header-2 ul li.active:after {
  width: 100%;
  right: 100%;
  left: 0;
}
html body header article .header-2 ul li a {
  font-size: 20px;
  color: #fff6b6;
  font-weight: bold;
  text-decoration: none;
}
html body main {
  width: 100%;
  height: auto;
}
html body main .banner {
  width: 100%;
  height: auto;
  overflow: hidden;
}
html body main .banner .swiper-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
html body main .banner .swiper-slide {
  width: 100%;
  padding-bottom: 21%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
html body main .banner .swiper-slide.img-1 {
  background: url(../img/banner.png) no-repeat center;
  background-size: 100%;
}
html body main .banner .swiper-slide.img-2 {
  background: url(../img/banner.png) no-repeat center;
  background-size: 100%;
}
html body main .banner .swiper-slide.img-3 {
  background: url(../img/banner.png) no-repeat center;
  background-size: 100%;
}
html body main .banner .swiper-pagination {
  bottom: 34px;
  position: relative;
}
html body main .banner .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #362612;
  border: 2px solid #fff4c0;
  opacity: unset;
  outline: none;
}
html body main .banner .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff9d2;
}
html body main article {
  width: 1280px;
  height: auto;
  margin: auto;
}
html body main article .news {
  width: 1280px;
  height: 35px;
  margin: auto;
  margin-top: -12px;
}
html body main article .news .news-icon {
  width: 45px;
  height: 45px;
  float: left;
  background: url(../img/news-icon.png) no-repeat;
  background-size: contain;
}
html body main article .news .news-box {
  width: 1225px;
  height: 33px;
  background: #000000b8;
  border-radius: 5px;
  border: 1px solid #fff6b6;
  float: right;
}
html body main article .news .news-box marquee {
  width: 1200px;
  color: #fff6b6;
  line-height: 35px;
  float: right;
}
html body main article .main-box {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-bottom: 55px;
}
@media (max-width: 1300px) {
  html body main article .main-box {
    width: 86%;
    height: auto;
    margin: auto;
  }
}
html body main article .main-box .main-btn {
  width: 223px;
  height: 517px;
  background: url(../img/main-btn.png) no-repeat;
  background-size: 100%;
  position: relative;
  cursor: pointer;
}
html body main article .main-box .main-btn:hover, html body main article .main-box .main-btn:active, html body main article .main-box .main-btn.active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
@media (max-width: 1280px) {
  html body main article .main-box .main-btn {
    width: 200px;
    height: 500px;
  }
}
html body main article .main-box .main-btn .img {
  width: 223px;
  height: 341px;
  background: url(../img/main-btn-img.png) no-repeat;
  margin: 154px 0px 0 0px;
  padding-left: 16px;
  position: relative;
}
html body main article .main-box .main-btn .img-1 {
  background-position-x: calc(100% + 1098px);
}
html body main article .main-box .main-btn .img-2 {
  background-position-x: calc(100% + 873px);
}
html body main article .main-box .main-btn .img-3 {
  background-position-x: calc(100% + 647px);
}
html body main article .main-box .main-btn .img-4 {
  background-position-x: calc(100% + 422px);
}
html body main article .main-box .main-btn .img-5 {
  background-position-x: calc(100% + 195px);
}
html body main article .main-box .main-btn .img-6 {
  background-position-x: calc(100% - 30px);
}
html body main article .main-box .main-btn div {
  width: 130px;
  height: 75px;
  position: relative;
  margin: -430px 0 0px 45px;
}
html body main article .main-box .main-btn div h1 {
  font-size: 28px;
  text-shadow: 2px 1px 0px #faf0a2;
  color: #39301b;
  font-weight: bold;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
html body main article .main-box .main-btn div h2 {
  font-size: 28px;
  text-shadow: 2px 1px 0px #faf0a2;
  color: #39301b;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html body main article .main-box .main-btn p {
  color: #ffffbc;
  font-size: 30px;
  position: relative;
  margin-top: 289px;
  text-align: center;
}
html body main article .main-box .main-btn:hover h1, html body main article .main-box .main-btn:active h1, html body main article .main-box .main-btn.active h1 {
  color: #c80aea;
}
html body main article .main-box .main-btn:hover h2, html body main article .main-box .main-btn:active h2, html body main article .main-box .main-btn.active h2 {
  color: #c80aea;
}
html body footer {
  width: 100%;
  height: auto;
}
html body footer .footer-1 {
  width: 100%;
  height: 51px;
  background: url(../img/footer-1.png) no-repeat;
}
html body footer .footer-1 article {
  width: 1280px;
  height: 51px;
  margin: auto;
}
html body footer .footer-1 article ul {
  width: 645px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: left;
  cursor: pointer;
}
html body footer .footer-1 article ul li {
  width: 80px;
  height: 38px;
  font-size: 19px;
  text-align: center;
  line-height: 51px;
  color: #361e00;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html body footer .footer-1 article ul li:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 30%;
  left: 35%;
  bottom: 0;
  height: 1px;
  background: #2e2902;
}
html body footer .footer-1 article ul li:hover:after, html body footer .footer-1 article ul li:active:after, html body footer .footer-1 article ul li.active:after {
  width: 100%;
  right: 100%;
  left: 0%;
}
html body footer .footer-1 article div {
  width: 270px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  font-size: 19px;
  color: #ffffca;
  float: right;
  font-family: -webkit-pictograph;
}
html body footer .footer-2 {
  width: 100%;
  height: 127px;
  background: #00000091;
}
html body footer .footer-2 .footer-2box {
  width: 1000px;
  height: 70px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
html body footer .footer-2 .footer-2box h1 {
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  color: #e5ce68;
}
html body footer .footer-2 .footer-2box h2 {
  text-align: center;
  font-size: 15px;
  color: #e5ce68;
  letter-spacing: 1px;
  padding-top: 17px;
}
html body .gift {
  width: 167px;
  height: 170px;
  z-index: 999;
  position: fixed;
  bottom: 200px;
  cursor: pointer;
}
html body .gift .gift-img {
  width: 167px;
  height: 147px;
  background: url(../img/抽獎贏大禮.png) no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html body .gift .gift-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffd9;
  text-align: center;
  margin-top: -10px;
}
html body .gift:hover .gift-img {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
html body .left {
  width: 100px;
  height: 50px;
  position: fixed;
  top: 210px;
  left: 25px;
  z-index: 999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html body .left .left-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff6ab;
  background: linear-gradient(60deg, #ffffff 10%, #ffed8a 30%, #725208 95%, #7b5a33 90%);
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 7px #fff5ce;
          box-shadow: 0px 1px 7px #fff5ce;
}
html body .left .left-circle:hover, html body .left .left-circle:active, html body .left .left-circle.active {
  background: linear-gradient(6deg, #ffffff 1%, #e2d5b5 30%, #ffed8a 85%, #ffed8a 85%, #ffffff 100%);
}
html body .left .left-circle:hover .left-box, html body .left .left-circle:active .left-box, html body .left .left-circle.active .left-box {
  display: block;
  pointer-events: visible;
}
html body .left .left-circle .left-img {
  width: 15px;
  height: 27px;
  background: url(../img/left-phone.png) no-repeat;
  margin: auto;
  margin-top: 10px;
}
html body .left .left-circle .left-text {
  width: 80px;
  padding-top: 23px;
  padding-bottom: 8px;
  color: #f4f4b3;
  font-size: 14px;
}
html body .left .left-circle .left-box {
  width: 100px;
  height: 150px;
  margin-top: -7px;
  display: none;
  pointer-events: none;
  position: absolute;
}
html body .left .left-circle .left-box .left-box1,
html body .left .left-circle .left-box .left-box2,
html body .left .left-circle .left-box .left-box3 {
  width: 99px;
  height: 38px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #2e1a00), color-stop(87%, #ffe06e));
  background: linear-gradient(to top, #2e1a00 16%, #ffe06e 87%);
  border-radius: 10px;
  border: 1px solid #fffcad;
  margin-top: 9px;
  cursor: pointer;
}
html body .left .left-circle .left-box .left-box1:hover, html body .left .left-circle .left-box .left-box1:active, html body .left .left-circle .left-box .left-box1.active,
html body .left .left-circle .left-box .left-box2:hover,
html body .left .left-circle .left-box .left-box2:active,
html body .left .left-circle .left-box .left-box2.active,
html body .left .left-circle .left-box .left-box3:hover,
html body .left .left-circle .left-box .left-box3:active,
html body .left .left-circle .left-box .left-box3.active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #2e1a00), color-stop(87%, #ffe06e));
  background: linear-gradient(to bottom, #2e1a00 16%, #ffe06e 87%);
}
html body .left .left-circle .left-box .left-box1 .left-icon,
html body .left .left-circle .left-box .left-box2 .left-icon,
html body .left .left-circle .left-box .left-box3 .left-icon {
  width: 16px;
  height: 29px;
  background: url(../img/left-phone-2.png) no-repeat;
  margin: 3px 0 0 8px;
}
html body .left .left-circle .left-box .left-box1 .text,
html body .left .left-circle .left-box .left-box2 .text,
html body .left .left-circle .left-box .left-box3 .text {
  width: 75px;
  height: 38px;
  color: #feffea;
  margin: -20px 0 0 29px;
  font-size: 14px;
  line-height: 10px;
}
html body .left .left-circle .left-box .left-box1 {
  top: 76px;
}
html body .left .left-circle .left-box .left-box2 {
  top: 16px;
}
html body .left .left-circle .left-box .left-box3 {
  top: -36px;
}
html body .right-box {
  width: 48px;
  height: 160px;
  position: fixed;
  top: 210px;
  right: 10px;
  z-index: 999;
}
html body .right-box .right-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff6ab;
  margin-top: 12px;
  background: linear-gradient(60deg, #ffffff 10%, #ffed8a 30%, #725208 95%, #7b5a33 90%);
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 7px #fff5ce;
          box-shadow: 0px 1px 7px #fff5ce;
}
html body .right-box .right-circle:hover, html body .right-box .right-circle:active, html body .right-box .right-circle.active {
  background: linear-gradient(6deg, #ffffff 1%, #e2d5b5 30%, #ffed8a 85%, #ffed8a 85%, #ffffff 100%);
}
html body .right-box .right-circle .line-img {
  width: 26px;
  height: 24px;
  background: url(../img/linebar.png) no-repeat;
  margin: auto;
  margin-top: 10px;
}
html body .right-box .right-circle .message-img {
  width: 26px;
  height: 24px;
  background: url(../img/linebar.png) no-repeat;
  background-position-y: calc(100% + 28px);
  margin: auto;
  margin-top: 10px;
}
html body .right-box .right-circle .cell-img {
  width: 26px;
  height: 26px;
  background: url(../img/linebar.png) no-repeat;
  background-position-y: calc(100% + 0px);
  margin: auto;
  margin-top: 10px;
}
html body .top {
  width: 56px;
  height: 120px;
  position: fixed;
  bottom: 190px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
html body .top:hover, html body .top:active, html body .top.active {
  bottom: 220px;
}
html body .top .top-img {
  width: 56px;
  height: 101px;
  background: url(../img/top.png) no-repeat;
  background-size: contain;
}
html body .top .top-text {
  width: 100%;
  text-align: center;
  color: #fffcad;
  padding-top: 5px;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg.png) top center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -999;
}