@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body {
  width: 100%;
  min-width: 1280px;
  height: 900px;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  background: #391a00;
}
html body header {
  width: 100%;
  height: 120px;
}
html body header article {
  width: 1280px;
  height: 120px;
  margin: auto;
}
html body header article .header-1 {
  width: 100%;
  height: 55px;
}
html body header article .header-1 .header-top-bg {
  width: 735px;
  height: 70px;
  background: url(../img/header-1.png);
  float: right;
  background-size: 100%;
  background-repeat: no-repeat;
}
html body header article .header-1 .header-top-bg .input-box {
  width: 695px;
  height: 35px;
  margin: auto;
  -webkit-transform: translateY(22%);
          transform: translateY(22%);
}
html body header article .header-1 .header-top-bg .input-box input {
  width: 142px;
  height: 28px;
  border-radius: 20px;
  border: 1px solid #fff5af;
  outline: none;
  padding-left: 20px;
  margin-left: 3px;
}
html body header article .header-1 .header-top-bg .input-box button {
  width: 62px;
  height: 27px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffddff), color-stop(30%, #f717ff), color-stop(55%, #a000ce), color-stop(85%, #a000ce), to(#ffd6fc));
  background: linear-gradient(to bottom, #ffddff 0%, #f717ff 30%, #a000ce 55%, #a000ce 85%, #ffd6fc 100%);
  border-radius: 14px;
  border: 1px solid #dc3aff;
  color: #fff;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}
html body header article .header-1 .header-top-bg .input-box button:hover, html body header article .header-1 .header-top-bg .input-box button:active, html body header article .header-1 .header-top-bg .input-box button.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e5ffe2), color-stop(12%, #9aff48), color-stop(33%, #3cd500), color-stop(89%, #0f8100), to(#f9ffdb));
  background: linear-gradient(to bottom, #e5ffe2 0%, #9aff48 12%, #3cd500 33%, #0f8100 89%, #f9ffdb 100%);
  border: 1px solid #d8ff94;
}
html body header article .header-2 {
  width: 100%;
  height: 65px;
  background: yellowgreen;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg.png) top center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -999;
}