html body {
    width: 100%;
    min-width: 1280px;
    height: 900px;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    // position: relative;
    background: #391a00;

    header {
        width: 100%;
        height: 120px;
        background: rgb(128, 180, 189);

        .header-top-bg {
            width: 100%;
            height: 55px;
            background: wheat;
        }

        .header-2 {
            width: 100%;
            height: 65px;
            background: yellowgreen;
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/bg.png) top center no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -999;
    }
}
