html body {
    width: 100%;
    min-width: 1280px;
    height: auto;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    position: relative;
    background: #453018;

    header {
        width: 100%;
        height: 120px;

        article {
            width: 1280px;
            height: 120px;
            margin: auto;

            .header-1{
                width: 100%;
                height: 55px;
    
                .header-top-bg {
                    width: 735px;
                    height: 55px;
                    background: url(../img/header-1.png);
                    float: right;
                    background-size: 100%;
                    background-repeat: no-repeat;

                    .text-picture {
                        width: 16px;
                        height: 16px;
                        background: url(../img/account.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        margin: 7px 0 0 16px;
                    }

                    .password-picture {
                        width: 16px;
                        height: 16px;
                        background: url(../img/password.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        margin: 6px 0 0 188px;
                    }

                    .input-box {
                        width: 695px;
                        height: 35px;
                        margin: auto;
                        display: inline-flex;
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
                        top: 12%;

                        input {
                            width: 132px;
                            height: 25px;
                            border-radius: 20px;
                            border: 1px solid #fff5af;
                            outline: none;
                            padding-left: 30px;
                            margin-left: 6px;
                        }

                        input::-webkit-input-placeholder {
                            color: #382105;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        button {
                            width: 62px;
                            height: 27px;
                            background: linear-gradient(to bottom, #ffddff 0%, #f717ff 30%, #a000ce 55%, #a000ce 85%, #ffd6fc 100%);
                            border-radius: 14px;
                            border: 1px solid #dc3aff;
                            color: #fff;
                            font-size: 14px;
                            outline: none;
                            cursor: pointer;
                            margin-left: 6px;

                            &:hover,&:active,&.active {
                                background: linear-gradient(to bottom, #e5ffe2 0%, #9aff48 5%, #3cd500 30%, #0f8100 88%, #f9ffdb 100%);
                                border: 1px solid #d8ff94;
                            }
                        }

                        .forget {
                            width: 104px;
                            height: 39px;
                            margin-left: 6px;
                            background: url(../img/forget-button.png) no-repeat;
                            background-size: 100%;
                            margin-top: -5px;

                            a {
                                text-decoration: none;
                                line-height: 39px;
                                padding-left: 18px;
                                font-size: 14px;
                                font-weight: bold;
                                color: #382105;
                            }
                        }

                        .chinese-select{
                            width: 104px;
                            height: 39px;
                            background: url(../img/forget-button.png) no-repeat;
                            background-size: 100%;
                            margin-top: -5px;

                            .select-icon {
                                width: 11px;
                                height: 7px;
                                background: url(../img/下拉.png) no-repeat;
                                background-size: 100%;
                                position: absolute;
                                margin: 16px 0 0 77px;
                                pointer-events: none;
                            }

                            select {
                                width: 100%;
                                height: 100%;
                                background: none;
                                border: none;
                                outline: none;
                                padding-left: 18px;
                                font-size: 14px;
                                font-weight: bold;
                                color: #382105;
                                appearance:none;
                                line-height: 39px;
                                cursor: pointer;

                                option {
                                    background: #ffed8a;
                                }
                            }
                        }
                    }
                }
            }
    
            .header-2 {
                width: 100%;
                height: 65px;

                .logobox {
                    width: 150px;
                    height: 65px;
                    float: left;

                    .logo {
                        width: 136px;
                        height: 42px;
                        margin: auto;
                        background: url(../img/logo.png) no-repeat;
                        background-size: 100%;
                        transform: translateY(10px);
                    }
                }

                ul {
                    width: 1090px;
                    height: 65px;
                    float: right;
                    display: flex;
                    flex-wrap: nowrap;

                    li {
                        width: 100%;
                        height: 47px;
                        text-align: center;
                        line-height: 67px;
                        overflow:hidden;
                        position: relative;
                        transition: 0.3s;
                        cursor: pointer;
                        // background: chocolate;
                        margin-left: 7px;

                        &:after {
                            position: absolute;
                            transition: 0.3s;
                            content: '';
                            width: 33%;
                            right: auto;
                            left: 35%;
                            bottom: 0;
                            height: 1px;
                            background: #fff6b6;
                          }
    
                          &:hover,&:active,&.active{
    
                            &:after {
                               width: 100%;
                               right: 100%;
                               left: 0;
                            }
                          }
                        
                        a {
                            font-size: 20px;
                            color: #fff6b6;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        height: auto;

        .banner {
            width: 100%;
            height: auto;
            overflow: hidden;
            // background: #000;

            .swiper-container {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        
            .swiper-slide {
                width: 100%;
                padding-bottom: 21%;
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;

                &.img-1 {
                    background: url(../img/banner.png) no-repeat center;
                    background-size: 100%;
                }

                &.img-2 {
                    background: url(../img/banner.png) no-repeat center;
                    background-size: 100%;
                }

                &.img-3 {
                    background: url(../img/banner.png) no-repeat center;
                    background-size: 100%;
                }
            }     

            .swiper-pagination {
                bottom: 34px;
                position: relative;

                .swiper-pagination-bullet {
                    width: 16px;
                    height: 16px;
                    background: #362612;
                    border: 2px solid #fff4c0;
                    opacity: unset;
                    outline: none;
                  
                }
                .swiper-pagination-bullet-active {
                    background: #fff9d2;
                }
                
            } 
        }

        article {
            width: 1280px;
            height: auto;
            margin: auto;
            
            .news {
                width: 1280px;
                height: 35px;
                margin: auto;
                margin-top: -12px;

                .news-icon {
                    width: 45px;
                    height: 35px;
                    float: left;
                    background: url(../img/news-icon.png) no-repeat;
                    background-size: contain;
                }

                .news-box {
                    width: 1225px;
                    height: 33px;
                    background: #000000b8;
                    border-radius: 5px;
                    border: 1px solid #fff6b6;
                    float: right;

                    marquee {
                        width: 1035px;
                        color: #fff6b6;
                        line-height: 35px;
                        float: right;
                    }
                }
            }

            .main-box {
                width: 100%;
                height: auto;
                margin-top: 20px;
                // background: rosybrown;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                position: relative;

                @media(max-width:1300px) {
                    width: 86%;
                    height: auto;
                    margin: auto;
                }

                .main-btn {
                    width: 223px;
                    height: 517px;
                    background: url(../img/main-btn.png) no-repeat;
                    background-size: 100%;
                    position: relative;
                    cursor: pointer;

                    @media(max-width:1280px) {
                        width: 200px;
                        height: 500px;
                    }

                    .img {
                        width: 223px;
                        height: 341px;
                        background: url(../img/main-btn-img.png) no-repeat;
                        margin: 154px 0px 0 0px;
                        padding-left: 16px;
                        position: relative;
                    }

                    .img-1 {
                        background-position-x: calc(100% + 1098px);
                    }

                    .img-2 {
                        background-position-x: calc(100% + 873px);
                    }

                    .img-3 {
                        background-position-x: calc(100% + 647px);
                    }

                    .img-4 {
                        background-position-x: calc(100% + 422px);
                    }

                    .img-5 {
                        background-position-x: calc(100% + 195px);
                    }

                    .img-6 {
                        background-position-x: calc(100% - 30px);
                    }

                     div {
                        width: 130px;
                        height: 75px;
                        position: relative;
                        margin: -430px 0 0px 35px;

                        h1 {
                            font-size: 28px;
                            text-shadow: 2px 1px 0px #faf0a2;
                            color: #39301b;
                            font-weight: bold;
                        }

                        h2 {
                            font-size: 28px;
                            text-shadow: 2px 1px 0px #faf0a2;
                            letter-spacing: 4px;
                            color: #39301b;
                            font-weight: bold;
                        }
                    }

                    p {
                        color: #ffffbc;
                        font-size: 30px;
                        position: relative;
                        margin-top: 289px;
                        text-align: center;
                    }

                    &:hover,&:active,&.active {
                        h1 {
                            color: #e40a91;
                        }
                    }
                }
            }
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/bg.png) top center no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -999;
    }
}
