html body {
    width: 100%;
    min-width: 1280px;
    height: auto;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    position: relative;
    background: #453018;

    .register {
        width: 100%;
        height: 100%;
        background: #00000066;
        z-index: 999;
        position: absolute;
        display: none;

        &.display {
            display: block;
        }

        .close {
            width: 56px;
            height: 56px;
            background: url(../img/close.png) no-repeat;
            background-size: 100%;
            position: absolute;
            margin: -37px 0 0 781px;
            transition: 0.3s;
            cursor: pointer;

            &:hover,&:active,&.active {
                transform: rotate(90deg);
            }
        }

        .register-box {
            width: 760px;
            height: 415px;
            background: url(../img/register.png) no-repeat;
            background-size: cover;
            margin: auto;
            margin-top: 180px;
            border-radius: 13px;
            border: 2px solid #fff7d6;
            box-shadow: 2px 0px 16px #000000e6;

            .register-top {
                width: 100%;
                height: 70px;
                border-radius: 10px 10px 0 0;
                background: linear-gradient(to bottom, #ffe492 2%, #8f4d00 11%, #4c2a00 48%, #1d1000 100% );
                border-bottom: 2px solid #fff7d6;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 3px;
                color: #fff;
                text-align: center;
                line-height: 74px;
            }

            .register-main {
                width: 82%;
                height: 262px;
                margin: auto;
                margin-top: 6px;

                .register-main-left {
                    width: 50%;
                    height: 262px;
                    float: left;

                    input {
                        width: 275px;
                        height: 35px;
                        border-radius: 5px;
                        padding-left: 15px;
                        padding-top: 2px;
                        font-size: 16px;
                        color: #351f01;
                        border: 1px solid #2d1a00;
                        outline: none;
                        margin-top: 20px;
                    }

                    input::-webkit-input-placeholder {
                        color: #351f01;
                        font-size: 16px;
                        // font-weight: bold;
                    }

                    h1 {
                        top: 383px;
                        position: absolute;
                        color: #fff0a0;
                        font-size: 14px;
                    }

                    h2 {
                        top: 443px;
                        position: absolute;
                        color: #fff0a0;
                        font-size: 14px;
                    }
                }

                .register-main-right {
                    width: 50%;
                    height: 262px;
                    float: right;

                    input {
                        width: 275px;
                        height: 35px;
                        border-radius: 5px;
                        padding-left: 15px;
                        padding-top: 2px;
                        font-size: 16px;
                        color: #351f01;
                        border: 1px solid #2d1a00;
                        outline: none;
                        margin-top: 20px;
                        float: right;
                    }

                    input::-webkit-input-placeholder {
                        color: #351f01;
                        font-size: 16px;
                    }

                    button {
                        width: 120px;
                        height: 33px;
                        border: 1px solid #694c26;
                        border-radius: 5px;
                        background: linear-gradient(to left,#e9c464 0%,#ffef95 100%);
                        font-size: 15px;
                        color: #674208;
                        font-weight: bold;
                        position: relative;
                        float: right;
                        top: -97px;
                        left: -7px;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover,&:active,&.active {
                            filter: brightness(1.1);
                            background: linear-gradient(to right,#e9c464 0%,#ffef95 100%);
                        }
                    }

                    .check-box {
                        width: 290px;
                        height: auto;
                        // background: mediumaquamarine;
                        top: 5px;
                        float: right;
                        position: relative;

                        .check {
                            position: relative;
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            background: #fff;
                            border-radius: 2px;
                            cursor: pointer;
                        }
                        input[type="checkbox"] {
                            opacity: 0;
                        }
                        input[type="checkbox"]:checked + i{
                            width: 22px;
                            height: 22px;
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: #fff;
                        }
                        input[type="checkbox"]:checked + i:after {
                            content: '';
                            display: inline-block;
                            width: 6px;
                            height: 13px;
                            border-top: 4px solid #703600;
                            border-left: 4px solid #703600;
                            transform: rotate(230deg);
                            position: absolute;
                            left: 6px;
                            top: 1px;
                        }
                    }

                    h3 {
                        font-size: 16px;
                        color: #fff;
                        float: right;
                        margin-top: 3px;
                        margin-right: 11px;
                        font-weight: bold;
                    }

                    p {
                        font-size: 16px;
                        color: #fff;
                        float: right;
                        margin-top: 3px;
                        margin-right: 2px;
                        font-weight: bold;
                        color: #f4df75;
                        cursor: pointer;
                    }
                }
            }

            .register-button {
                width: 82%;
                height: 60px;
                border-radius: 15px;
                margin: auto;

                .button-left {
                    width: 50%;
                    height: 100%;
                    float: left;

                    button {
                        width: 290px;
                        height: 56px;
                        background: url(../img/register-button.png) no-repeat;
                        outline: none;
                        border: none;
                        font-size: 20px;
                        color: #454444;
                        font-weight: bold;
                        cursor: pointer;
                        float: left;
                        line-height: 56px;
                        text-align: center;

                        &:hover,&:active,&.active {
                            filter: brightness(1.1);
                        }
                    }
                }

                .button-right {
                    width: 50%;
                    height: 100%;
                    float: left;

                    button {
                        width: 290px;
                        height: 56px;
                        background: url(../img/register-button.png) no-repeat;
                        background-position: calc(100% + 2px);
                        outline: none;
                        border: none;
                        font-size: 20px;
                        color: #454444;
                        font-weight: bold;
                        cursor: pointer;
                        float: right;
                        line-height: 56px;

                        &:hover,&:active,&.active {
                            filter: brightness(1.1);
                        }
                    }
                }
            }
        }
    }

    header {
        width: 100%;
        height: 120px;

        article {
            width: 1280px;
            // min-width: 1200px;
            height: 120px;
            margin: auto;

            .header-1{
                width: 100%;
                height: 55px;
    
                .header-top-bg {
                    width: 735px;
                    height: 55px;
                    background: url(../img/header-1.png);
                    float: right;
                    background-size: 100%;
                    background-repeat: no-repeat;

                    .text-picture {
                        width: 16px;
                        height: 16px;
                        background: url(../img/account.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        margin: 7px 0 0 16px;
                    }

                    .password-picture {
                        width: 16px;
                        height: 16px;
                        background: url(../img/password.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        margin: 6px 0 0 188px;
                    }

                    .input-box {
                        width: 695px;
                        height: 35px;
                        margin: auto;
                        display: inline-flex;
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
                        top: 12%;

                        input {
                            width: 132px;
                            height: 25px;
                            border-radius: 20px;
                            border: 1px solid #fff5af;
                            outline: none;
                            padding-left: 30px;
                            margin-left: 6px;
                        }

                        input::-webkit-input-placeholder {
                            color: #382105;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        button {
                            width: 62px;
                            height: 27px;
                            background: linear-gradient(to bottom, #ffddff 0%, #f717ff 30%, #a000ce 55%, #a000ce 85%, #ffd6fc 100%);
                            border-radius: 14px;
                            border: 1px solid #dc3aff;
                            color: #fff;
                            font-size: 14px;
                            outline: none;
                            cursor: pointer;
                            margin-left: 6px;

                            &:hover,&:active,&.active {
                                background: linear-gradient(to top,#3cd500 -1%, #0f8100 96%, #f9ffdb 100%);
                                border: 1px solid #d8ff94;
                            }

                            // .registered {
                            //     &.display {
                            //         display: block;
                            //     }
                            // }
                        }

                        .forget {
                            width: 104px;
                            height: 39px;
                            margin-left: 6px;
                            background: url(../img/forget-button.png) no-repeat;
                            background-size: 100%;
                            margin-top: -5px;
                            cursor: pointer;

                            a {
                                text-decoration: none;
                                line-height: 39px;
                                padding-left: 18px;
                                font-size: 14px;
                                font-weight: bold;
                                color: #382105;
                            }

                            &:hover,&:active,&.active {
                                filter: brightness(1.2);
                            }
                        }

                        .chinese-select{
                            width: 104px;
                            height: 39px;
                            background: url(../img/forget-button.png) no-repeat;
                            background-size: 100%;
                            margin-top: -5px;

                            .select-icon {
                                width: 11px;
                                height: 7px;
                                background: url(../img/下拉.png) no-repeat;
                                background-size: 100%;
                                position: absolute;
                                margin: 16px 0 0 77px;
                                pointer-events: none;
                            }

                            select {
                                width: 100%;
                                height: 100%;
                                background: none;
                                border: none;
                                outline: none;
                                padding-left: 18px;
                                font-size: 14px;
                                font-weight: bold;
                                color: #382105;
                                appearance:none;
                                line-height: 39px;
                                cursor: pointer;

                                option {
                                    background: #ffed8a;
                                }
                            }

                            &:hover,&:active,&.active {
                                filter: brightness(1.2);
                            }
                        }
                    }
                }
            }
    
            .header-2 {
                width: 100%;
                height: 65px;

                .logobox {
                    width: 150px;
                    height: 65px;
                    float: left;

                    // @media(max-width:1200px) {
                    //     margin-left: 15px;
                    // }

                    .logo {
                        width: 136px;
                        height: 42px;
                        margin: auto;
                        background: url(../img/logo.png) no-repeat;
                        background-size: 100%;
                        transform: translateY(10px);
                    }
                }

                ul {
                    width: 1090px;
                    height: 65px;
                    float: right;
                    display: flex;
                    flex-wrap: nowrap;

                    li {
                        width: 100%;
                        height: 47px;
                        text-align: center;
                        line-height: 67px;
                        overflow:hidden;
                        position: relative;
                        transition: 0.3s;
                        cursor: pointer;
                        margin-left: 7px;

                        &:after {
                            position: absolute;
                            transition: 0.3s;
                            content: '';
                            width: 33%;
                            right: auto;
                            left: 35%;
                            bottom: 0;
                            height: 1px;
                            background: #fff6b6;
                            
                        }
    
                          &:hover,&:active,&.active{
                            a {
                                color: #ffcb0f;
                            }

                            &:after {
                               width: 100%;
                               right: 100%;
                               left: 0;
                               height: 2px;
                            }
                        }
                        
                        a {
                            font-size: 20px;
                            color: #fff6b6;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        height: auto;

        .banner {
            width: 100%;
            height: auto;
            overflow: hidden;
            border-top: 1px solid #745227;
            // background: #000;

            .swiper-container {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        
            .swiper-slide {
                width: 100%;
                padding-bottom: 21%;
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;

                &.img-1 {
                    background: url(../img/banner.png) no-repeat center;
                    background-size: 100%;
                }

                &.img-2 {
                    background: url(../img/banner.png) no-repeat center;
                    background-size: 100%;
                }

                &.img-3 {
                    background: url(../img/banner.png) no-repeat center;
                    background-size: 100%;
                }
            }     

            .swiper-pagination {
                bottom: 34px;
                position: relative;

                .swiper-pagination-bullet {
                    width: 16px;
                    height: 16px;
                    background: #362612;
                    border: 2px solid #fff4c0;
                    opacity: unset;
                    outline: none;
                  
                }
                .swiper-pagination-bullet-active {
                    background: #fff9d2;
                }
                
            } 
        }

        article {
            width: 1280px;
            height: auto;
            margin: auto;
            
            .news {
                width: 1280px;
                height: 35px;
                margin: auto;
                margin-top: -12px;

                .news-icon {
                    width: 45px;
                    height: 45px;
                    float: left;
                    background: url(../img/news-icon.png) no-repeat;
                    background-size: contain;
                }

                .news-box {
                    width: 1220px;
                    height: 33px;
                    background: #000000b8;
                    border-radius: 5px;
                    border: 1px solid #fff6b6;
                    float: right;

                    marquee {
                        width: 1195px;
                        color: #fff6b6;
                        line-height: 35px;
                        float: right;
                    }
                }
            }

            .main-box {
                width: 100%;
                height: auto;
                margin-top: 41px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                position: relative;
                margin-bottom: 55px;

                .main-btn {
                    width: 215px;
                    height: 511px;
                    background: url(../img/main-btn.png) no-repeat;
                    background-size: 100%;
                    position: relative;
                    cursor: pointer;
                    transition: 0.5s;


                    &:hover,&:active,&.active {
                        transform: scale(1.1);
                        filter: drop-shadow(-1px -4px 11px #fff6b6);
                        transition: 0.5s;

                        .img {
                            animation: flash 2s ;
                        }

                        h1 {
                            color: #c80aea;
                        }

                        h2 {
                            color:#c80aea;
                        }

                        p { 
                            color: #fffed2;
                            bottom: 20px;
                            text-shadow: 2px 0px 2px #000;
                        }
                    }

                    .main-logo {
                        width: 29px;
                        height: 34px;
                        background: url(../img/bng-logo.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        top: -44px;
                        right: 29px;
                    }


                    .img {
                        width: 212px;
                        height: 380px;
                        background: url(../img/main-btn-img-2.png) no-repeat;
                        position: absolute;

                        @keyframes flash{
                            from {
                                opacity: 0;
                            }
                            to {
                                opacity: 1;
                            }
                        }
                    }

                    .img-1 {
                        background-position-x: calc(100% + 1090px);
                        margin: 115px 0 0 -12px;
                    }

                    .img-2 {
                        background-position-x: calc(100% + 864px);
                        margin: 115px 0 0 2px;
                    }

                    .img-3 {
                        background-position-x: calc(100% + 659px);
                        margin: 115px 0 0 -4px;
                    }

                    .img-4 {
                        width: 230px;
                        height: 380px;
                        background-position-x: calc(100% + 435px);
                        margin: 115px 0 0 -11px;
                    }

                    .img-5 {
                        background-position-x: calc(100% + 220px);
                        margin: 115px 0 0 -3px;
                        width: 214px;
                        height: 380px;
                    }

                    .img-6 {
                        background-position-x: calc(100% + 1px);
                        width: 204px;
                        height: 380px;
                        margin: 114px 0 0 14px;
                    }

                     div {
                        width: 130px;
                        height: 75px;
                        position: absolute;
                        margin: 63px 0 0px 38px;

                        h1 {
                            font-size: 28px;
                            text-shadow: 2px 1px 0px #faf0a2;
                            color: #39301b;
                            font-weight: bold;
                            transition: 0.1s;
                        }

                        h2 {
                            font-size: 28px;
                            text-shadow: 2px 1px 0px #faf0a2;
                            color: #39301b;
                            font-weight: bold;
                            transition: 0.5s;
                        }
                    }

                    p {
                        color: #ffffbc;
                        font-size: 30px;
                        position: relative;
                        margin-top: 420px;
                        text-align: center;
                    }

                    .triangle {
                        width: 63px;
                        height: 44px;
                        background: url(../img/main-btn-triangle.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        bottom: 23px;
                        right: 11px;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        height: auto;

        .footer-1 {
            width: 100%;
            height: 51px;
            background: url(../img/footer-1.png) no-repeat;

            article {
                width: 1280px;
                height: 51px;
                margin: auto;

                ul {
                    width: 645px;
                    height: 51px;
                    display: flex;
                    justify-content: space-around;
                    float: left;
                    cursor: pointer;

                    li {
                        width: 80px;
                        height: 38px;
                        font-size: 19px;
                        text-align: center;
                        line-height: 51px;
                        color: #361e00;
                        cursor: pointer;
                        overflow:hidden;
                        position: relative;
                        transition: 0.3s;

                        &:after {
                            position: absolute;
                            transition: 0.3s;
                            content: '';
                            width: 30%;
                            left: 35%;
                            bottom: 0;
                            height: 1px;
                            background: #2e2902;
                        }
    
                          &:hover,&:active,&.active{
                            color: #736124;

                            &:after {
                               width: 100%;
                               right: 100%;
                               left: 0%;
                               height: 2px;
                            }
                          }
                    }
                }

                div {
                    width: 270px;
                    height: 51px;
                    text-align: center;
                    line-height: 51px;
                    font-size: 19px;
                    color: #ffffca;
                    float: right;
                    font-family: -webkit-pictograph;
                }
            }
        }

        .footer-2 {
            width: 100%;
            height: 127px;
            background: #00000091;

            .footer-2box {
                width: 1000px;
                height: 70px;
                margin: auto;
                top: 50%;
                transform: translateY(50%);
                

                h1 {
                    text-align: center;
                    font-size: 15px;
                    letter-spacing: 1px;
                    color: #e5ce68;
                }

                h2 {
                    text-align: center;
                    font-size: 15px;
                    color: #e5ce68;
                    letter-spacing: 1px;
                    padding-top: 17px;
                }
            }

            .top {
                width: 56px;
                height: 120px;
                bottom: 40px;
                right: 10px;
                position: absolute;
                cursor: pointer;
                transition: 0.5s;
        
                &:hover,&:active,&.active {
                    bottom: 60px;
                }
        
                .top-img {
                    width: 56px;
                    height: 101px;
                    background: url(../img/top.png) no-repeat;
                    background-size: contain;
                }
        
                .top-text {
                    width: 100%;
                    text-align: center;
                    color: #fffcad;
                    padding-top: 5px;
                }
            }
        }
        
    }

    .gift {
        width: 167px;
        height: 170px;
        z-index: 998;
        position: fixed;
        bottom: 180px;
        cursor: pointer;

        .gift-img {
            width: 167px;
            height: 147px;
            background: url(../img/抽獎贏大禮.png) no-repeat;
            background-size: contain;
            transition: 0.3s;
        }

        .gift-text {
            font-size: 20px;
            font-weight: bold;
            color: #ffffd9;
            text-align: center;
            margin-top: -10px;
        }

        &:hover {
            width: 172px;
            height: 175px;
            animation: swing1 1s ease;
    }

        @keyframes swing1 {
            15% {
                transform: rotate(15deg);
            }
            30% {
                transform:  rotate(-15deg);
            }
            45% {
                transform:  rotate(15deg);
            }
            60% {
                transform:  rotate(-15deg);
            }
        }
    } 

    .left {
        width: 100px;
        height: 50px;
        position: fixed;
        top: 210px;
        left: 25px;
        z-index: 998;
        transition: 0.3s;

        .left-circle {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid #fff6ab;
            background: linear-gradient(60deg, #ffffff 10%,#ffed8a 30%,#725208 95%,#7b5a33 90%);
            cursor: pointer;
            box-shadow: 0px 1px 7px #fff5ce;

    
            &:hover,&:active,&.active {
                background: linear-gradient(6deg, #ffffff 1%, #e2d5b5 30%, #ffed8a 85%, #ffed8a 85%, #ffffff 100%);
                animation: swing 1s ease;
                
                .left-box {
                    display: block;
                    pointer-events: visible;
                }
            }
    
            .left-img {
                width: 15px;
                height: 27px;
                background: url(../img/left-phone.png) no-repeat;
                margin: auto;
                margin-top: 10px;
            }
    
            .left-text {
                width: 80px;
                padding-top: 23px;
                padding-bottom: 8px;
                color: #f4f4b3;
                font-size: 14px;
            }
    
            .left-box {
                width: 100px;
                height: 150px;
                margin-top: -7px;
                display: none;
                pointer-events: none;
                position: absolute;
    
                .left-box1,
                .left-box2,
                .left-box3
                 {
                    width: 99px;
                    height: 38px;
                    background: linear-gradient(to top, #2e1a00 16%,#ffe06e 87%);
                    border-radius: 10px;
                    border: 1px solid #fffcad;
                    margin-top: 9px;
                    cursor: pointer;
    
                    &:hover,&:active,&.active {
                        background: linear-gradient(to bottom, #2e1a00 16%,#ffe06e 87%);
                    }
    
                    .left-icon {
                        width: 16px;
                        height: 29px;
                        background: url(../img/left-phone-2.png) no-repeat;
                        margin: 3px 0 0 8px;
                    }
    
                    .text {
                        width: 75px;
                        height: 38px;
                        color: #feffea;
                        margin: -20px 0 0 29px;
                        font-size: 14px;
                        line-height: 10px;
                    }
                }

                .left-box1{
                    top: 76px;
                }

                .left-box2{
                    top: 16px;
                }

                .left-box3 {
                    top: -36px;
                }
            }
        }
    }

    .right-box {
        width: 48px;
        height: 160px;
        position: fixed;
        top: 210px;
        right: 10px;
        z-index: 998;

        .right-circle {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid #fff6ab;
            margin-top: 12px;
            background: linear-gradient(60deg, #ffffff 10%,#ffed8a 30%,#725208 95%,#7b5a33 90%);
            cursor: pointer;
            box-shadow: 0px 1px 7px #fff5ce;

            @keyframes swing {
                15% {
                    transform: translateY(5px);
                }
                30% {
                    transform: translateY(-5px);
                }
                50% {
                    transform: translateY(3px);
                }
            }

            &:hover,&:active,&.active {
                background: linear-gradient(10deg, #ffffff 1%, #e2d5b5 30%, #ffed8a 85%, #ffed8a 85%, #ffffff 100%);
                animation: swing 1s ease;
            }

            .line-img {
                width: 26px;
                height: 24px;
                background: url(../img/linebar.png) no-repeat;
                margin: auto;
                margin-top: 10px;
            }
    
            .message-img {
                width: 26px;
                height: 24px;
                background: url(../img/linebar.png) no-repeat;
                background-position-y: calc(100% + 28px);
                margin: auto;
                margin-top: 10px;
            }
    
            .cell-img {
                width: 26px;
                height: 26px;
                background: url(../img/linebar.png) no-repeat;
                background-position-y: calc(100% + 0px);
                margin: auto;
                margin-top: 10px;
            }
        }
    }


    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/bg.png) top center no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -999;
    }
}
